@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


body {
    margin: 0 auto;
}


/* shared styles */
.display-flex {
    display: flex;
}

.section-heading {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
}

/* navbar related style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    padding: 16px 200px;
}

.brand {
    max-width: 220px;
    font-size: 2.5rem;
    color: white;
    -webkit-text-stroke: 1px black;

}

.brand .banner-wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .menu .nav-items {
    list-style: none;
    align-items: center;
    justify-content: center;


}

.display-none {
    display: none;
}

.menu .nav-items {
    margin-right: 32px;
}

.menu .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

.btn-primary,
.btn-primer {
    background-image: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8);
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    transition: transform 3s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}


.banner-info .btn-secondary {
    width: 147px;
    background: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    transition: transform 3s;
}

.btn-primary:hover {
    width: 200px;
    transform: rotate(360deg) scale(1);

}

.btn-primer:hover {
    width: 200px;
    transform: rotate(360deg) scale(1);
}

.btn-secondary:hover {
    width: 200px;
    transform: rotate(360deg) scale(1);

}

.twin-button img {
    vertical-align: middle;
}

.btn-primary a {
    text-decoration: none;
    color: #ffffff;
}

/* banner related style */

#banner {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero-bg.png");
      background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.mic-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mic-phone {
    position: absolute;
    align-items: center;
    z-index: 2;
    padding-top: 60px;

}

.badge {
    position: absolute;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    color: #1A0B2E;
    padding: 8px 16px;
    right: 590px;
    border-radius: 10000px;
    font-size: 1.1rem;
    font-weight: 600;
}

.banner-info .section-title {
    font-size: 4rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 10px;
}

.banner-info .section-article {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;

}

.banner-info .btn-primary {
    color: #ffffff;
}

.twin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 100px;
}



/* podcasts design */

#podcasts {
    background-color: #1a0b2e;
    padding: 50px 200px;
    margin-top: 0;
    text-align: center;
}

.podcast-info .podcast-title {
    margin-top: 0;
    padding-top: 50px;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.podcast-info .podcast-description {
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

.podcast-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.podcast-rating-container .rating h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 15px;
}

.podcast-rating-container .rating p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

/* choose reason of TechWave related style */

.chosen-reason {
    padding: 120px 200px;
    background-color: #230e3dfc;
}

.reason-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 275px);
}

.reason-container h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.reason-container p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.audio,
.mobile,
.interview,
.resource {
    background-color: #35116566;
    padding: 30px;
    border-radius: 40px;
}

.audio {
    grid-column: span 1;
    grid-row: span 2;
}

.mobile {
    grid-column: span 2;
    grid-row: span 1;
}

.resource {
    grid-column: span 1;
    grid-row: span 1;
}

.interview {
    grid-column: span 2;
    grid-row: span 1;
}



/* featured episodes related design */

.featured-episodes {
    background-color: #1a0b2e;
    padding: 120px 200px;
}

.featured-container {
    display: flex;
    gap: 25px;
}

.featured-container .featured-video {
    width: 380px;
    border: none;
    border-radius: 24px;
    background-color: #35116566;
    font-size: 1em;
}

.featured-video iframe {
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.featured-video h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    padding: 24px;
    margin-bottom: 0;
}

.featured-video p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    padding: 0 24px 0 24px;
    margin-top: 0;
}

.featured-video .clock {
    padding: 24px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}

.clock img {
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}


/* host related design */

.the-host {
    padding-top: 100px;
}

.host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #35116566;
    border: none;
    border-radius: 40px;
}

.host .host-info {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.host img {
    padding-right: 24px;
}

.host-info h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
}

.host-info p {

    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.icons img {

    padding: 10px;
    margin-right: 8px;
    box-sizing: border-box;
    border: 1px solid #533C72;
    border-radius: 10px;
}


/* footer related styles */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../images/footer-bg.png");
    background-size: cover;
}

.footer-heading {
    font-size: 4.5rem;
    color: white;
    -webkit-text-stroke: 1px none;
    margin: 0;
    padding-top: 70px;
    

}

.footer-heading .footer-wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-wrapper .icon {
    margin-bottom: 32px;
    
}

.icon img {
    vertical-align: middle;
    margin-right: 8px;
}

.icon a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 25px;
}

.footer-wrapper p {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 120px;
}

/* media query related style */

@media screen and (max-width:576px) {

    .display-none {
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }

    .menu,
    .btn-primary {
        display: none;

    }

    /* banner design */
    #banner {
        margin-top: 0;
        width: 100%;
        background-image: url("../images/hero-bg.png");
        
    }

    .badge {
        right: 130px;
    }

    /* podcasts design */
    #podcasts {
        padding: 0 20px;
    }

    .podcast-info .podcast-title {
        font-size: 2rem;
        text-align: center;
    }

    .podcast-info .podcast-description {
        font-weight: 0.5rem;
        max-width: 400px;
        padding-left: 65px;
        text-align: center;
    }

    hr {
        padding: o 20px;
        width: 500px;
    }

    .podcast-rating-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* choose reason related style*/
    .chosen-reason {
        padding: 0 20px 40px 20px;

    }

    .chosen-reason h2 {
        font-size: 2rem;
        padding-top: 40px;
        margin-top: 0;
    }

    .reason-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 250px);
    }

    /* featured episodes related design */
    .featured-episodes {
        padding: 0;
    }

    .featured-episodes,
    .section-heading {
        padding-top: 40px;
    }

    .featured-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .the-host {
        padding: 0 20px 40px 20px;


    }

    .host {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* footer related style */

    .footer-wrapper {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-image: url("../images/footer-bg.png");
        background-position: center;

    }

    .footer-heading {
        font-size: 3rem;
    }


}










/* THE END */